# name: FastAPI CI Pipeline

# on:
#   push:
#     branches: [ main ]
#   pull_request:
#     branches: [ main ]

# jobs:
#   test:
#     runs-on: ubuntu-latest

#     env:
#       ENV: test
#       DATABASE_URL: sqlite:///./test.db
#       SECRET_KEY: testsecret
#       ALGORITHM: HS256
#       ACCESS_TOKEN_EXPIRE_MINUTES: 30
#       SMTP_HOST: smtp.gmail.com
#       SMTP_PORT: 587
#       SMTP_USER: test@test.com
#       SMTP_PASS: test
#       SMTP_FROM: test@test.com
#       GOOGLE_CLIENT_ID: test
#       GOOGLE_CLIENT_SECRET: test

#     steps:
#       - name: Checkout repository
#         uses: actions/checkout@v4

#       - name: Setup Python
#         uses: actions/setup-python@v5
#         with:
#           python-version: "3.12"

#       - name: Install dependencies
#         run: |
#           python -m pip install --upgrade pip
#           pip install -r requirements.txt
#           pip install pytest

#       - name: Run Tests
#         run: pytest -v

name: FastAPI CI Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    env:
      ENV: test
      DATABASE_URL: sqlite:///./test.db
      SECRET_KEY: testsecret
      ALGORITHM: HS256
      ACCESS_TOKEN_EXPIRE_MINUTES: 30
      SMTP_HOST: smtp.gmail.com
      SMTP_PORT: 587
      SMTP_USER: test@test.com
      SMTP_PASS: test
      SMTP_FROM: test@test.com
      GOOGLE_CLIENT_ID: test
      GOOGLE_CLIENT_SECRET: test

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest

      - name: Run Tests
        run: pytest -v